@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  overflow-x: hidden; /* Pour cacher la barre de défilement horizontale */
}

.header {
  width: 100vw;
}
.header .f-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.header .f-header h1 a {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 300;
  color: black;
}
.header .f-header div {
  max-width: 40%;
  min-width: 30%;
  height: 34px;
  padding: 0px 5px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.header .f-header div input {
  border: none;
  outline: none;
  font-size: 1.4rem;
}
.header .f-header div input[type=search]::-webkit-search-cancel-button {
  display: none;
}
.header .f-header div svg {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  vertical-align: middle;
}
.header .f-header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header .f-header ul li {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 5px;
}
.header .f-header ul li a {
  font-size: 1.4rem;
  color: black;
}
.header .f-header ul li:nth-child(2) {
  background-color: rgb(0, 0, 0);
}
.header .f-header ul li:nth-child(2) a {
  color: white;
}
.header .nav-category {
  max-width: 1000px;
  margin: 0 auto;
}
.header .nav-category ul {
  display: flex;
  justify-content: center;
}
.header .nav-category ul li {
  padding: 10px 20px;
  font-size: 1.4rem;
  font-weight: 400px;
  text-transform: uppercase;
  cursor: pointer;
}
.header .nav-category ul li:hover {
  background-color: grey;
}

.home-content {
  width: 100vw;
  margin-top: 120px;
}
.home-content div:nth-child(1) {
  max-width: 1400px;
  margin: 0 auto 120px auto;
}
.home-content div:nth-child(1) p {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}
.home-content img {
  width: 100vw;
  height: 700px;
  object-fit: cover;
}

.register-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.register-content .container h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
}
.register-content .container form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  gap: 10px;
}
.register-content .container form .ln-error, .register-content .container form .fn-error, .register-content .container form .e-error {
  display: none;
}
.register-content .container form ul {
  padding: 10px 10px 0 10px;
  border: 1px solid black;
  margin-bottom: 4px;
  margin-top: 4px;
}
.register-content .container form ul li {
  color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.register-content .container form ul li div {
  height: 10px;
  width: 10px;
  position: relative;
}
.register-content .container form ul li div svg {
  height: 10px;
  width: 10px;
  position: absolute;
  fill: red;
}
.register-content .container form ul li div svg:nth-child(1) {
  display: none;
}
.register-content .container form div p {
  color: red;
}
.register-content .container form div input {
  background-color: white;
  padding: 10px 0 10px 10px;
  width: 100%;
  font-size: 1.6rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 2px;
}

/*# sourceMappingURL=style.css.map */
