{% extends 'base.html.twig' %}

{% block title %}Mon compte - name{% endblock %}

{% block content %}
<h1>Mon compte {{app.user.firstname}}</h1>


<a href="{{ path('account_password')}}">Modifier mon mot de passe</a>
<a href="{{ path('app_address')}}">adresse</a>


{% endblock %}
