{% extends 'base.html.twig' %}

{% block content %}

<div class="home-content">
    <div>
        <p>Élevez votre style avec nos costumes d'exception, où l'élégance rencontre la perfection.</p>
    </div>
    <div>
        <img src="{{ asset('/assets/images/home.jpg') }}" alt="">
    </div>

<div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatem voluptates, quia sit atque quaerat porro? Dolores illo cum distinctio soluta eaque explicabo! Laboriosam architecto at hic explicabo. Illo, sunt!
Suscipit tempore sequi vero placeat odit totam quod quasi minus molestiae, ut aliquam iste rem laborum commodi accusantium a perferendis dolore eveniet vitae iusto dolorum. Consectetur doloremque ex adipisci beatae.
Sequi tenetur et non architecto in hic voluptas. Exercitationem adipisci odio doloribus ipsa, autem quod praesentium, laborum dolor maiores saepe itaque sed cumque quam porro obcaecati molestias nobis facilis sit?
Excepturi harum expedita fugit amet earum tempora sed ex, et veniam, facilis aliquam doloribus maiores. Minima dolorem nam illum quasi voluptate, debitis ab et perferendis, incidunt quas cumque voluptas fugit?
Natus, dignissimos unde. Aliquam temporibus pariatur illo! Culpa esse aliquid saepe a dolorem laudantium itaque suscipit ducimus iste nemo fugiat voluptatibus neque, quam sit recusandae iure est. Voluptatum, odit accusantium!
Itaque eligendi ipsa consequatur officiis dolorem quo ab iste, odio repellendus doloribus blanditiis voluptatem modi illo asperiores nam iusto eos temporibus autem placeat? Cumque molestiae beatae culpa, sequi doloribus possimus?
Adipisci velit consequuntur, cumque neque explicabo facilis pariatur iure enim quibusdam, commodi, dignissimos aut a. Amet similique at aliquam ratione ducimus laudantium numquam quasi, perferendis, facilis, provident tempore atque esse.
Nobis, quo repellendus inventore, similique maiores rerum dolore, dolor ipsa nam obcaecati vitae voluptatibus error facilis illum voluptas in animi? Dolorem iusto fuga eligendi quam dolore consectetur est ducimus nobis.
Nisi, maxime exercitationem. Sint a iusto distinctio aut. Distinctio tempora quidem accusantium molestiae. Ipsam labore voluptates odio veritatis placeat, corporis commodi autem! Molestias quidem voluptates assumenda sequi ad? Culpa, doloremque.
Ratione enim voluptatum sit deserunt magni ex, impedit harum voluptatem quibusdam nisi, eligendi explicabo, aut quaerat dolorum inventore numquam dolores nulla eius necessitatibus facilis velit. Consequatur dignissimos repellat reiciendis illum?</p>
</div>
</div>

{% endblock %}