<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{ asset('https://code.jquery.com/jquery-3.5.1.slim.min.js')}}"></script>
    <script src="https://unpkg.com/gsap@3.9.0/dist/gsap.min.js"></script>

    {% block font %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    {% endblock %}

    {% block script %}
        
    {% endblock %}

    {% block stylesheet %}
                    <link rel="stylesheet" href="{{ asset('/assets/styles/css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ asset('/assets/styles/css/style.css') }}">

    {% endblock %}

    <link rel="icon" href="{{ asset('/assets/images/logo.png') }} "type="image/x-icon">
    <title>{% block title %}Elegance in Suits{% endblock %}</title>
</head>
    <body>
        {% block header %}
            {% include "header.html.twig" %}
        {% endblock %}
        
        {% block content %}

        {% endblock %}

        {% block footer %}
            {% include "footer.html.twig" %}
        {% endblock %}
    </body>
</html>